# Core Settings
token = "YOUR_BOT_TOKEN (DO NOT SHARE THIS WITH ANYONE)" # The token for the bot (DO NOT SHARE THIS WITH ANYONE)
prefix = "!" # The prefix for the bot's commands
owner_ids = "YOUR_OWNER_IDS" # The IDs of the bot's owners (comma separated) (Watch who you give this to)

# Database Settings
postgres_url = "postgresql://postgres:postgres@localhost:5432/virel" # Replace with your PostgreSQL URL
redis_url = "redis://localhost:6379" # Replace with your Redis URL

# Rename this file to .env and fill in the values.
# DO NOT SHARE THIS FILE WITH ANYONE.
# Anyone who is on the owner_ids list will be able to do whatever they want with the bot and your host system.